<h1>Places</h1>

<p>
  <a href="/places/new" class="btn btn-primary">New Place</a>
</p>


<% for place in @places %>
  <div><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></div>
<% end %>


